    <div class="chats__list-card-ava">
        <div class="chats__ava">          
            <img src="{{img}}" alt="аватар"/>
        </div> 
    </div>
    <div class="chats__list-card-content">
        <div class="chats__list-card-name">{{name}}</div>
        <div class="chats__list-card-text">{{text}}</div>
    </div>
    <div class="chats__list-card-info">
        <div class="chats__list-card-time">{{time}}</div>
        <div class="chats__list-card-count">{{count}}</div>
    </div>
    
