<div class="chats__list-card-ava">
    {{{chatAva}}}
</div>
<div class="chats__list-card-content">
    <div class="chats__list-card-name">{{name}}</div>
    <div class="chats__list-card-text">{{text}}</div>
</div>
<div class="chats__list-card-info">
    <div class="chats__list-card-time">{{time}}</div>
    <div class="chats__list-card-count">{{count}}</div>
</div>
