<box class="profile">
<div class="profile__ava">
    <span>Поменять аватар</span>
</div>
<div class="profile__name">Иван</div>
<div class="profile__info">
    {{{email}}}
    {{{login}}}
    {{{firstName}}}
    {{{secondName}}}
    {{{displayName}}}
    {{{phone}}}
</div>
<div class="profile__link">   
    {{{editInfoLink}}}
    {{{editPasswordLink}}}
    {{{exit}}}
</div>
</box>   


