<box class="profile">
    <div class="profile__ava">
        {{{avaOpen}}}
    </div>
    <div class="profile__name">{{{header}}}</div>
    <div class="profile__info">
        {{{email}}}
        {{{login}}}
        {{{firstName}}}
        {{{secondName}}}
        {{{displayName}}}
        {{{phone}}}
    </div>
    <div class="profile__link">
        {{{editInfoLink}}}
        {{{editPasswordLink}}}
        {{{exit}}}
        {{{editAvatar}}}
    </div>
</box>
