<box class="form">
    <div class="form__title">
        Регистрация
    </div>
    <div class="form__fields">
        {{{formInputEmail}}}
        {{{formInputLogin}}}
        {{{  formInputFirstName }}}
        {{{  formInputSecondName }}}
        {{{  formInputPhone }}}
        {{{  formInputPassword }}}
        {{{ formInputPassworfCheck}}}
    </form>
   <div lass="form__submit">
    {{{button}}}
    </div>       
</box>       

