    <box><h1>Список страниц</h1>
    <ul>
        <li>{{{authorizationLink}}}</li>
        <li>{{{registrationLink}}}</li>
        <li>{{{profileLink}}}</li>
        <li>{{{chatsLink}}}</li>
        <li>{{{page404Link}}}</li>
        <li>{{{page500Link}}}</li>
    </ul>
    </box>
   

