<div class="chatButton">
    {{{addChatButton}}}
</div>
<div class="chatButton">
    {{{removeFromChatButton}}}
</div>
<div class="chatButton">
    {{{deleteChatButton}}}
</div>
{{{addChat}}}
{{{removeFromChat}}}
{{#each messages}}
{{{this}}}
{{/each}}
