<link rel="stylesheet" href="../static/styles/index.pcss"/>
<box class="chats__list_card"> 
    <div class="chats__list_card_avaBlock">
        <div class="chats__list_card_ava">
            <img src="{{path}}" alt="аватар"/>
        </div>
    </div>
    <div class="chats__list_card_content">
        <div class="chats__list_card_name">{{name}}</div>
        <div class="chats__list_card_text">{{text}}</div>
    </div>
    <div class="chats__list_card_info">
        <div class="chats__list_card_time">{{time}}</div>
        <div class="chats__list_card_count">{{count}}</div>
    </div>
</box>

  
